.App {
    text-align: center;
    margin: 20px;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .products {
    display: flex;
    justify-content: center;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
  }
  
  .cart {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
  }
  
  .procut-img{
    width: 200px;
    height: auto;
  }